<html>
  <head>
    <title>Testing 1, 2, 3...</title>
  </head>

  <body>
    <h1> {{ .title }} </h1>
    <h4>  {{ .subTitle }} </h4>
    <p>How can I get html syntax highlighting, etc, in tmpl files?</p>
    <p>This is still not as good as like Vue, but I can think of uses for sure.</p>
    <p>You can <a href="/videoUpload">upload video's here maybe?</a>.
  </body>

</html>
